body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.full-screen-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene la escala */
}
.bona-nova-sc-regular {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
}
#especial{
    display: flex;
    justify-content: center;
    align-items: center;
}

#frase{
    position: absolute;
    top: 35%;
    background-color: rgba(250, 235, 215, 0.65);
    text-align: center;
    margin: 0;
    padding: 10px;
}

#frase > h1{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#frase > h2{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#botoninicio{
    position: absolute;
    top:65%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#botoninicio > a{
    background-color: rgba(250, 235, 215, 0.7);
    cursor: pointer;
    padding: 5px;
    border: none;
    color: black;
    text-decoration: black;
}
a:visited{
    color: black;
}